In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
# data.head()

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [4]:
import datetime as datetime
data['release_date'].head()

0      6/9/2015
1     5/13/2015
2     3/18/2015
3    12/15/2015
4      4/1/2015
Name: release_date, dtype: object

In [ ]:
# приведение строкового формата времени в формат datetime

In [5]:
data['release_date'] = pd.to_datetime(data['release_date'])

In [6]:
data['release_date'].head()

0   2015-06-09
1   2015-05-13
2   2015-03-18
3   2015-12-15
4   2015-04-01
Name: release_date, dtype: datetime64[ns]

In [7]:
data.columns.str.strip()

Index(['imdb_id', 'budget', 'revenue', 'original_title', 'cast', 'director',
       'tagline', 'overview', 'runtime', 'genres', 'production_companies',
       'release_date', 'vote_average', 'release_year'],
      dtype='object')

In [8]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [9]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [0]:
# тут пишем ваш код для решения данного вопроса:

In [10]:
data["budget"].max()

380000000

In [12]:
d_max_budget = data.loc[data['budget'] == data["budget"].max(), "original_title"]
d_max_budget

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

In [13]:
answers[1] = '723  Pirates of the Caribbean: On Stranger Tides' + 'budget = 380000000'

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [14]:
data['runtime'].max()

214

In [16]:
d_max_runtime = data.loc[data['runtime'] == data['runtime'].max(),'original_title' ]
d_max_runtime

1157    Gods and Generals
Name: original_title, dtype: object

In [17]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers[2] = '1157    Gods and Generals (tt0279111)' + 'max runtime = 214'

# 3. Какой из фильмов самый короткий (в минутах)?

In [18]:
data['runtime'].min()

63

In [19]:
data.loc[data['runtime'] == data['runtime'].min(), 'original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

In [20]:
answers[3] = '768    Winnie the Pooh' + 'runtime = 63'

# 4. Какова средняя длительность фильмов?

In [21]:
data['runtime'].mean()

109.6585494970884

In [22]:
answers[4] = '110'

# 5. Каково медианное значение длительности фильмов?

In [23]:
data['runtime'].median()

107.0

In [24]:
answers[5] = '107.0'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [25]:
data['profit'] = data['revenue'] - data['budget']
data['profit']

0       1363528810
1        228436354
2        185238201
3       1868178225
4       1316249360
           ...
1884      82299717
1885      -8444012
1886     -40865180
1887      -3962091
1888      -9782502
Name: profit, Length: 1889, dtype: int64

In [26]:
data['profit'].max()

2544505847

In [27]:
d_max_profit = data.loc[data['profit'] == data['profit'].max(), 'original_title']
d_max_profit

239    Avatar
Name: original_title, dtype: object

In [28]:
answers[6] = '239    Avatar' + 'profit = 2544505847'

# 7. Какой фильм самый убыточный?

In [29]:
data['profit'].min()

-165710090

In [30]:
d_min_profit = data.loc[data['profit'] == data['profit'].min(), 'original_title']
d_min_profit

1245    The Lone Ranger
Name: original_title, dtype: object

In [31]:
answers[7] = '1245    The Lone Ranger' + 'profit = -165710090'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [32]:
d_plus_budget = data[data['revenue'] > data['budget']]

In [33]:
d_plus_budget.count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

In [34]:
answers[8] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [35]:
d_2008 = data[data['release_year']==2008]

In [36]:
d_max_revenue_2008 = d_2008.loc[d_2008['revenue']==d_2008['revenue'].max(),'original_title']

In [37]:
d_max_revenue_2008

599    The Dark Knight
Name: original_title, dtype: object

In [38]:
d_2008['revenue'].max()

1001921825

In [39]:
answers[9] = '599    The Dark Knight' + 'revenue = 1001921825'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [40]:
d_2012_2014 = data[data['release_year'].isin([2012,2013,2014])]

In [41]:
d_2012_2014['profit'].min()

-165710090

In [42]:
d_2012_2014_min_profit = d_2012_2014.loc[d_2012_2014['profit'] == d_2012_2014['profit'].min(),'original_title']
d_2012_2014_min_profit

1245    The Lone Ranger
Name: original_title, dtype: object

In [43]:
answers[10] = '1245    The Lone Ranger' + 'profit = -165710090'

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [44]:
data['genres'].value_counts()

Comedy                                       141
Drama                                        102
Comedy|Romance                                60
Drama|Romance                                 45
Comedy|Drama|Romance                          35
                                            ...
Adventure|Action|Crime|Mystery                 1
Science Fiction|Thriller|Action|Adventure      1
Adventure|Fantasy|Animation|Family             1
Action|Adventure|Comedy|Science Fiction        1
Thriller|Science Fiction|Drama|Mystery         1
Name: genres, Length: 652, dtype: int64

In [47]:
data['genres'].value_counts().head(15)

Comedy                   141
Drama                    102
Comedy|Romance            60
Drama|Romance             45
Comedy|Drama|Romance      35
Horror|Thriller           35
Comedy|Drama              33
Drama|Thriller            25
Horror                    23
Action|Crime|Thriller     21
Comedy|Family             18
Crime|Drama|Thriller      18
Action|Thriller           16
Action                    16
Action|Thriller|Crime     15
Name: genres, dtype: int64

In [48]:
answers[11] =   'Comedy                         141'

ВАРИАНТ 2

In [49]:
d_genres_more = data.groupby('genres')['genres'].count()

In [50]:
d_genres_more[d_genres_more>30]

genres
Comedy                  141
Comedy|Drama             33
Comedy|Drama|Romance     35
Comedy|Romance           60
Drama                   102
Drama|Romance            45
Horror|Thriller          35
Name: genres, dtype: int64

In [53]:
answers_2 = {}
answers_2[11] = 'Comedy                  141\
                Comedy|Drama             33\
                Comedy|Drama|Romance     35\
                Comedy|Romance           60\
                Drama                   102\
                Drama|Romance            45\
                Horror|Thriller          35'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [54]:
d_genres_profit = data.groupby('genres')['profit'].sum()/d_genres_more

In [55]:
d_genres_profit[d_genres_profit == d_genres_profit.max()]

genres
Action|Adventure|Science Fiction|Fantasy    1.868178e+09
dtype: float64

In [56]:
answers[12] = 'Action   1.868178e+09'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [57]:
d_revenue_sum_director = data.groupby('director')['revenue'].sum()

In [58]:
d_revenue_sum_director[d_revenue_sum_director==d_revenue_sum_director.max()]

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

In [59]:
answers[13] = 'Peter Jackson    6490593685'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [60]:
d_action = data[data['genres'].str.contains('Action')]

In [61]:
d_director_action = d_action.groupby('director')['genres'].count()

In [62]:
d_director_action[d_director_action==d_director_action.max()]

director
Michael Bay           7
Paul W.S. Anderson    7
Name: genres, dtype: int64

In [63]:
d_director_action[d_director_action >= 6]

director
Antoine Fuqua         6
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Robert Rodriguez      6
Name: genres, dtype: int64

In [64]:
answers[14] =  'Ridley Scott - 6,   Michael Bay - 7, Paul W.S. Anderson - 7'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [65]:
d_2012 = data[((data['release_year']==2012) & (data['revenue'] > 1500000000))]

In [66]:
d_2012['original_title']

970    The Avengers
Name: original_title, dtype: object

In [67]:
d_2012['cast'].str.split('|', expand = True)

,0,1,2,3,4
970,Robert Downey Jr.,Chris Evans,Mark Ruffalo,Chris Hemsworth,Scarlett Johansson

In [68]:
answers[15] = 'Chris Hemsworth'

вариант_2

In [69]:
answers_2[15] =   '970    The Avengers  \
                cast = Robert Downey Jr., Chris Evans, Mark Ruffalo, Chris Hemsworth, Scarlett Johansson'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [70]:
d_high_budget = data[data['budget']>=100000000]

In [71]:
d_high_budget_cast = d_high_budget['cast'].str.split('|', expand = True)

In [72]:
frames = [d_high_budget_cast[0],d_high_budget_cast[1],d_high_budget_cast[2],d_high_budget_cast[3],d_high_budget_cast[4]]

In [73]:
d_casts_list = pd.concat(frames,  ignore_index=True)

In [74]:
d = d_casts_list.groupby(d_casts_list).count()

In [75]:
d[d>=8]

Angelina Jolie        8
Daniel Craig          8
Daniel Radcliffe      8
Emma Watson           9
Hugh Jackman         12
Ian McKellen          8
Johnny Depp          11
Leonardo DiCaprio     8
Rupert Grint          8
Tom Cruise           10
Will Smith            8
dtype: int64

In [76]:
answers[16] =   'Tom Cruise   10,  Angelina Jolie - 8, Johnny Depp - 11, Hugh Jackman - 12'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [77]:
d_nicolas_cage = data[data['cast'].str.contains('Nicolas Cage')]

In [78]:
d_cage_genres = d_nicolas_cage['genres'].str.split('|',expand = True)

In [79]:
frames_1 = [d_cage_genres[0],d_cage_genres[1],d_cage_genres[2],d_cage_genres[3],d_cage_genres[4]]

In [80]:
result_1 = pd.concat(frames_1,  ignore_index=True)

In [81]:
d_cage_max_genres = result_1.groupby(result_1).count()

In [82]:
d_cage_max_genres[d_cage_max_genres==d_cage_max_genres.max()]

Action    17
dtype: int64

In [83]:
answers[17] = 'Action    17'

# 18. Самый убыточный фильм от Paramount Pictures

In [84]:
d_1 = data[data['production_companies'].str.contains('Paramount Picture')]

In [85]:
d_2 = d_1[d_1['profit']==d_1['profit'].min()]

In [86]:
d_2['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [87]:
answers[18] = '925    K-19: The Widowmake' + 'profit = -64831034'

In [88]:
d_2['profit']

925   -64831034
Name: profit, dtype: int64

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [89]:
d_year = data.groupby('release_year')['revenue'].sum()

In [90]:
d_year[d_year == d_year.max()]

release_year
2015    25449202382
Name: revenue, dtype: int64

In [91]:
answers[19] = '2015    25449202382'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [92]:
d_warner = data[data['production_companies'].str.contains('Warner Bros')]

In [93]:
d_warner_sum = d_warner.groupby('release_year')['profit'].sum()

In [94]:
d_warner_sum[d_warner_sum==d_warner_sum.max()]

release_year
2014    2295464519
Name: profit, dtype: int64

In [95]:
answers[20] = '2014    2295464519'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [96]:
data['release_date'].head()

0   2015-06-09
1   2015-05-13
2   2015-03-18
3   2015-12-15
4   2015-04-01
Name: release_date, dtype: datetime64[ns]

In [97]:
d_month_count = data['release_date'].groupby(data.release_date.dt.month).count()

In [98]:
d_month_count[d_month_count==d_month_count.max()]

release_date
9    227
Name: release_date, dtype: int64

In [99]:
answers[21] = 'сентябрь : 227 фильмов'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [100]:
data['release_date'].groupby(data.release_date.dt.month.isin([6,7,8])).count()

release_date
False    1439
True      450
Name: release_date, dtype: int64

In [101]:
answers[22] = 'За июнь, июль, август за все годы вышло 450 фильмов'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [102]:
d_winter = data[data.release_date.dt.month.isin([12,1,2])]

In [103]:
d_winter_dir = d_winter['director'].groupby(d_winter['director']).count()

In [104]:
d_winter_dir[d_winter_dir==d_winter_dir.max()]

director
Peter Jackson    7
Name: director, dtype: int64

In [105]:
answers[23] = 'Peter Jackson    7 фильмов'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [106]:
data['original_title'].str.len().max()

83

In [107]:
d_max_title = data[data['original_title'].str.len()==data['original_title'].str.len().max()]

In [108]:
 d_max_title['production_companies'].str.split('|', expand = True)

                                           0                        1
1448  Twentieth Century Fox Film Corporation  Four By Two Productions

In [114]:
answers[24] = '1448  Twentieth Century Fox Film Corporation, Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [115]:
data['count_words'] = data['overview'].str.split().str.len()

In [116]:
d_studia = data.groupby('production_companies')['count_words'].mean()

In [117]:
d_studia[d_studia == d_studia.max()]

production_companies
Lions Gate Films|Lakeshore Entertainment|GreeneStreet Films|Midnight Picture Show    175.0
Name: count_words, dtype: float64

In [118]:
answers[25] = 'Lions Gate Films, Lakeshore Entertainment, GreeneStreet Films, Midnight Picture Show    175.0'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [119]:
data['vote_average'].max()

8.1

In [120]:
data['vote_average'].min()

3.3

In [121]:
data['vote_average'].quantile(.99)

7.8

In [122]:
d_quantil__99 = data[data['vote_average']> 7.8]
d_quantil__99['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [123]:
answers[26] =  'Inside Out,  The Dark Knight,  12 Years a Slav'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [124]:
d_cast = data['cast'].str.split('|', expand = True)

In [125]:
d_array = d_cast.values

In [126]:
d_array.shape

(1889, 5)

In [127]:
index_2 = []
index_3 = []
index_4 = []
index_5 = []
for n in range(0,1888):
    for i in range(n,1888):
        a = len(set(d_array[n]) & set(d_array[i+1]))
        if a >= 2:
            index_2.append((n,i+1))
        if a >= 3:
            index_3.append((n,i+1))          
        if a >= 4:
            index_4.append((n,i+1))
        if a == 5:
            index_5.append((n,i+1))

In [128]:
idx = index_2
cast = [idx[0][0],idx[0][1]]
mcast = cast
wcast = cast
for i in range(0, len(idx)-1):
    if len(mcast) < len(cast):
        mcast = cast
    if idx[i][0] == idx[i+1][0]:
        a = (len(set(d_array[idx[i][0]]) & set(d_array[idx[i][1]]) & set(d_array[idx[i+1][1]])))
        if a >= 2:
            wcast.append(idx[i+1][1])
            # print(a, wcast)         
    else:
        cast = wcast
        wcast = [idx[i+1][0],idx[i+1][1]]             
        # print(cast,  len(cast))
print(mcast)

[242, 374, 497, 722, 864, 1312, 1560, 1670]

In [129]:
set(d_array[242]) & set(d_array[374]) & set(d_array[497])  & set(d_array[722]) & set(d_array[864]) & set(d_array[1312]) & set(d_array[1560]) & set(d_array[1670])

{'Daniel Radcliffe', 'Emma Watson', 'Rupert Grint'}

In [133]:
answers[27] = 'Daniel Radcliffe, Rupert Grint'

ВАРИАНТ 2

In [134]:
answers_2[27] = "'Daniel Radcliffe', 'Emma Watson', 'Rupert Grint'"

# Submission

In [135]:
# в конце можно посмотреть свои ответы к каждому вопросу

In [136]:
# и убедиться что ни чего не пропустил)
len(answers)

27

In [137]:
answers

{1: '723  Pirates of the Caribbean: On Stranger Tidesbudget = 380000000',
 2: '1157    Gods and Generals (tt0279111)max runtime = 214',
 3: '768    Winnie the Poohruntime = 63',
 4: '110',
 5: '107.0',
 6: '239    Avatarprofit = 2544505847',
 7: '1245    The Lone Rangerprofit = -165710090',
 8: '1478',
 9: '599    The Dark Knightrevenue = 1001921825',
 10: '1245    The Lone Rangerprofit = -165710090',
 11: 'Comedy                         141',
 12: 'Action   1.868178e+09',
 13: 'Peter Jackson    6490593685',
 14: 'Ridley Scott - 6,   Michael Bay - 7, Paul W.S. Anderson - 7',
 15: 'Chris Hemsworth',
 16: 'Tom Cruise   10,  Angelina Jolie - 8, Johnny Depp - 11, Hugh Jackman - 12',
 17: 'Action    17',
 18: '925    K-19: The Widowmakeprofit = -64831034',
 19: '2015    25449202382',
 20: '2014    2295464519',
 21: 'сентябрь : 227 фильмов',
 22: 'За июнь, июль, август за все годы вышло 450 фильмов',
 23: 'Peter Jackson    7 фильмов',
 24: '1448  Twentieth Century Fox Film Corporation, Four By Two Productions',
 25: 'Lions Gate Films, Lakeshore Entertainment, GreeneStreet Films, Midnight Picture Show    175.0',
 26: 'Inside Out,  The Dark Knight,  12 Years a Slav',
 27: 'Daniel Radcliffe, Rupert Grint'}

In [138]:
answers_2

{11: 'Comedy                  141                Comedy|Drama             33                Comedy|Drama|Romance     35                Comedy|Romance           60                Drama                   102                Drama|Romance            45                Horror|Thriller          35',
 15: '970    The Avengers                  cast = Robert Downey Jr., Chris Evans, Mark Ruffalo, Chris Hemsworth, Scarlett Johansson',
 27: "'Daniel Radcliffe', 'Emma Watson', 'Rupert Grint'"}